*{
    margin: 0;
    padding: 0;
}
.layaout{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        /* grid-template-rows: 2fr 2fr 2fr 2fr 6fr 2fr ; */
        grid-template-areas:    "navbar navbar navbar"
                                "aside mission1A card"
                                "aside mission1B genlist"
                                "footer footer footer"
}
.navbar{
    height: 160px;
    width: auto;
    grid-area: navbar;
    background-color: aqua;
}
.aside{
    height: 400px;
    width: auto;
    grid-area: aside;
    background-color: blue;
}
.mission1a{ 
    
    grid-area: mission1A;
    background-color: blueviolet;
}
.mission1b{
    
    grid-area: mission1B;
    background-color: yellow;
}
.card{
    height: auto;
    width: auto    ;
    grid-area: card;
    background-color: green
    ;
}
.genlist{
    height: auto;
    width: auto;
    grid-area: genlist;
    background-color: lightcoral;
}
.footer{
    height: 96px;
    grid-area: footer;
    background-color: chartreuse;
}